[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
scikit-learn = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
